input {
	max-width: 1000px;
}

#delete {
	display: none;
}

.tBoxWidth {
	width: 100px;
}

th, td {
	text-align: center;
	vertical-align: middle !important;
}

.text-right {
	text-align: right;
}

.btn-container {
	margin-right: 3.5%;
}

.shippingmonth-container {
	margin-left: 33px;
	margin-bottom: 12px;
}

.shippingmonth {
	margin-left: 15px;
}

.font-weight-nm {
	font-weight: normal;
}

.shippingAmount-container {
	margin-right: 13.4%;
}

@media screen and (max-width: 1200px) {
	.btn-container {
		margin-right: 3%;
	}

	.shippingmonth-container {
		margin-left: 19px;
	}

	.shippingAmount-container {
		margin-right: 12.6%;
	}
}

@media screen and (max-width: 992px) {
	.btn-container {
		margin-right: 2%;
	}

	.shippingmonth-container {
		margin-left: 5px;
	}

	.shippingAmount-container {
		margin-right: 11.3%;
	}
}

.text-center {
	text-align: center;
}

.shippingQuantity {
	text-align: right;
	display: inline;
}

.IsDelete {
	display: none;
}

.justify-content-end {
	display: flex;
	justify-content: flex-end;
}